* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
;
    font-size: 20px;
}

body{
    text-align: center;
    background-color: whitesmoke;
}

.questions{
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
        color: deepskyblue;
    font-variant: small-caps;
}

a {    color: inherit;}
a.main {

    text-decoration: none;
    min-width: 15%;
    display: inline-block;
}

a:hover{
    text-shadow: 0px 0px 1px black;
    
}

a:hover .bigc{
    color: transparent;
    text-shadow: 0px 0px 1px deepskyblue;
    font-weight: bold;
}

.ball{
    position: fixed;
    top: 90vh;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-7px,-8px);
    border-left: solid whitesmoke;
    border-right: solid black;
    border-radius: 10px;
    z-index: 1;
}

.title{
    font-size: 50px;
    background-color: whitesmoke;
    line-height: 70px;
    position: relative;
    z-index: 4;
    font-weight: bold;
}
.topmenu{
    overflow: visible;
    line-height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 3;
    box-shadow: 0px 0px 4px black;
    
}

.examples{
    min-width: 15%;
    display: inline-block;
    position: relative;
}

.exlink{
    background-color: whitesmoke;
    position: relative;
    display: block;
    z-index: 2;
}
.exs{    
    background-color: whitesmoke;
    display: block;
    position: absolute;
    width: 92%;
    box-shadow: 0px 0px 4px black;
    top: 49px;
    transform: translate(0,-110%);
    left: 4px;
    z-index: 0; 
    transition: 0.4s;
    border-bottom-right-radius: 10px;
}

.cover{
    height: 0.5px;   
    position: absolute;
    width: 94%;
    top: 49px;
    left:3px;
    box-shadow: 0px 0px 4px black;
    z-index: 1;
    opacity: 0;
    transition: 1s;
}
.examples:hover .exs{transform: none}
.examples:hover .cover{opacity: 1; transition: 0s;}

.page{
    overflow: auto;
    text-align: right;
    background-attachment: fixed;
    background-size: 50% auto;
    
}

.page1{

    background-image: url(pexels-photo-220210.jpeg);
}

.page2{
    background-image: url(ballet-sneaker-dress-ballet-dancer-163379.jpeg);    
}

.page3{
    background-image: url(people-coffee-tea-meeting.jpg);    
}

h1{
    padding-top: 50px;
    line-height: 100px;
    width: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: white;
    font-family: "Lato";
    font-size: 40px;
    color: transparent;
    text-shadow: 0px 0px 1px black;
    z-index: 1;
    opacity: 0.9;
}

.flip{
    margin-top: 0;
    transform: rotate(-90deg) scaleY(-1) translate(0,50%);
    transform-origin: right;
}
p, form{
    text-indent: -20px;
    padding-left: 60px;
    padding-right: 20px;
    font-family: "Lato";
    text-align: left;
}

input{
    margin: 10px;
    padding: 10px;
    border: solid 1px gray;
}

input:not(.n){box-shadow: -1px -1px 1px gray;}

form{
    margin:10px;
    padding: 40px;
        border: solid 1px;
}


.lside{float: left; border-right: solid;}
.rside{float: right; border-left: solid;
    padding-bottom: 120px;
    padding-top: 30vh;
    width: 50%;
    background-color: white;
    min-height: 100vh;
}